<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Personal Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="assets/css/custom.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.7.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <!-- CSS Animation -->
      <div class="hero">

        <div class="snow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1536" preserveAspectRatio="xMidYMax slice">
            <g fill="#FFF" fill-opacity=".15" transform="translate(55 42)">
             <g id="snow-bottom-layer">
              <ellipse cx="6" cy="1009.5" rx="6" ry="5.5"/>
              <ellipse cx="138" cy="1110.5" rx="6" ry="5.5"/>
              <ellipse cx="398" cy="1055.5" rx="6" ry="5.5"/>
              <ellipse cx="719" cy="1284.5" rx="6" ry="5.5"/>
              <ellipse cx="760" cy="1155.5" rx="6" ry="5.5"/>
              <ellipse cx="635" cy="1459.5" rx="6" ry="5.5"/>
              <ellipse cx="478" cy="1335.5" rx="6" ry="5.5"/>
              <ellipse cx="322" cy="1414.5" rx="6" ry="5.5"/>
              <ellipse cx="247" cy="1234.5" rx="6" ry="5.5"/>
              <ellipse cx="154" cy="1425.5" rx="6" ry="5.5"/>
              <ellipse cx="731" cy="773.5" rx="6" ry="5.5"/>
              <ellipse cx="599" cy="874.5" rx="6" ry="5.5"/>
              <ellipse cx="339" cy="819.5" rx="6" ry="5.5"/>
              <ellipse cx="239" cy="1004.5" rx="6" ry="5.5"/>
              <ellipse cx="113" cy="863.5" rx="6" ry="5.5"/>
              <ellipse cx="102" cy="1223.5" rx="6" ry="5.5"/>
              <ellipse cx="395" cy="1155.5" rx="6" ry="5.5"/>
              <ellipse cx="826" cy="943.5" rx="6" ry="5.5"/>
              <ellipse cx="626" cy="1054.5" rx="6" ry="5.5"/>
              <ellipse cx="887" cy="1366.5" rx="6" ry="5.5"/>
              <ellipse cx="6" cy="241.5" rx="6" ry="5.5"/>
              <ellipse cx="138" cy="342.5" rx="6" ry="5.5"/>
              <ellipse cx="398" cy="287.5" rx="6" ry="5.5"/>
              <ellipse cx="719" cy="516.5" rx="6" ry="5.5"/>
              <ellipse cx="760" cy="387.5" rx="6" ry="5.5"/>
              <ellipse cx="635" cy="691.5" rx="6" ry="5.5"/>
              <ellipse cx="478" cy="567.5" rx="6" ry="5.5"/>
              <ellipse cx="322" cy="646.5" rx="6" ry="5.5"/>
              <ellipse cx="247" cy="466.5" rx="6" ry="5.5"/>
              <ellipse cx="154" cy="657.5" rx="6" ry="5.5"/>
              <ellipse cx="731" cy="5.5" rx="6" ry="5.5"/>
              <ellipse cx="599" cy="106.5" rx="6" ry="5.5"/>
              <ellipse cx="339" cy="51.5" rx="6" ry="5.5"/>
              <ellipse cx="239" cy="236.5" rx="6" ry="5.5"/>
              <ellipse cx="113" cy="95.5" rx="6" ry="5.5"/>
              <ellipse cx="102" cy="455.5" rx="6" ry="5.5"/>
              <ellipse cx="395" cy="387.5" rx="6" ry="5.5"/>
              <ellipse cx="826" cy="175.5" rx="6" ry="5.5"/>
              <ellipse cx="626" cy="286.5" rx="6" ry="5.5"/>
              <ellipse cx="887" cy="598.5" rx="6" ry="5.5"/>
             </g>
            </g>
            <g fill="#FFF" fill-opacity=".3" transform="translate(65 63)">
             <g id="snow-top-layer">
              <circle cx="8" cy="776" r="8"/>
              <circle cx="189" cy="925" r="8"/>
              <circle cx="548" cy="844" r="8"/>
              <circle cx="685" cy="1115" r="8"/>
              <circle cx="858" cy="909" r="8"/>
              <circle cx="874" cy="1438" r="8" transform="rotate(180 874 1438)"/>
              <circle cx="657" cy="1256" r="8" transform="rotate(180 657 1256)"/>
              <circle cx="443" cy="1372" r="8" transform="rotate(180 443 1372)"/>
              <circle cx="339" cy="1107" r="8" transform="rotate(180 339 1107)"/>
              <circle cx="24" cy="1305" r="8" transform="rotate(180 24 1305)"/>
              <circle cx="8" cy="8" r="8"/>
              <circle cx="189" cy="157" r="8"/>
              <circle cx="548" cy="76" r="8"/>
              <circle cx="685" cy="347" r="8"/>
              <circle cx="858" cy="141" r="8"/>
              <circle cx="874" cy="670" r="8" transform="rotate(180 874 670)"/>
              <circle cx="657" cy="488" r="8" transform="rotate(180 657 488)"/>
              <circle cx="443" cy="604" r="8" transform="rotate(180 443 604)"/>
              <circle cx="339" cy="339" r="8" transform="rotate(180 339 339)"/>
              <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)"/>
             </g>
            </g>
        </svg>
        </div>
      
      <div class="hero__content">
        <h1></h1>
      </div>
    
    </div>


      <h1><a href="index.html">Samuel Nichols</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>Web Developer</span> from Kansas City</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Links</a></li>
          <!-- Changed Services to Links -->
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    
    </div>



  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Full Stack Web Developer</h3>
          <p class="fst-italic">
            “Experience is the name everyone gives to their mistakes.” – Oscar Wilde
          </p>

          <p id="aboutMeTxt">
            I`ve spent the past 4 years in the maintenance field where some of my daily tasks involved solving problems and deciding the next steps to take, using logic and reasoning to spot the strengths and weaknesses of other solutions, and understanding the meaning of new information for current and future decisions. I took pride in my work and am thankful for those skills I gained, but overtime I learned essentially all there was to know for my job. I felt like I needed to make a change and find a career with boundless learning potential because that freedom is what fuels my passion. That`s when I took the dive into the world of software development, and I immediately knew this was the career I needed because it ignited a passion in me. Soon after that moment is when I decided to become a full-stack web developer through Centriq where I became proficient with .NET Framework and became quite fond of C#. I would love to bring my passion to a development team like yours.
          </p>

        </div>

      </div>

    </div><!-- End About Me -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Samuel Nichols</h4>
            <p><em>Dedicated and focused employee who excels at completing multiple tasks, prioritizing, and staying focused. Specialized in working in high-speed environments and committed to delivering high quality results with little to no supervision.</em></p>
            <p>
              <div>
                <br>
                Skills:
                <br>
              </div>
            <ul>
              <li>Self-motivated</li>
              <li>Adapts to change efficiently</li>
              <li>Pays close attention to detail</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Centriq IT Training</h4>
            <h5>2022</h5>
            <p><em>Filler Text for Centriq</em></p>
            <p>What I've learned, and what I've enjoyed from my learning. </p>
          </div>          
        </div>

        <div class="col-lg-6">
          <h3 class="resume-title">Work History</h3>          
          <div class="resume-item">
            <h4>HVAC Technician & Maintenance</h4>
            <h5>2021</h5>
            <p><em>Highleah Townhouses - Independence, MO</em></p>
            <p>
            <ul>
              <li>List Item For Work Experience</li>
              <li>List Item For Work Experience</li>
              <li>List Item For Work Experience</li>
              <li>List Item For Work Experience</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Intelligence Analyst</h4>
            <h5>2018</h5>
            <p><em>Fort Sill - Lawton, OK</em></p>
            <p>
            <ul>
              <li>List Item For Work Experience</li>
              <li>List Item For Work Experience</li>
              <li>List Item For Work Experience</li>
              <li>List Item For Work Experience</li>
            </ul>
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Links Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Links</h2>
        <p>My Classmates</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Classmate 1</a></h4>
            <p>Classmate text here</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Classmate 2</a></h4>
            <p>Classmate text here</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Classmate 3</a></h4>
            <p>Classmate text here</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Classmate 4</a></h4>
            <p>Classmate text here</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Classmate 5</a></h4>
            <p>Classmate text here</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Classmate 6</a></h4>
            <p>Classmate text here</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Links Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>My Works</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Connect with me here!</p>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
